.user {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.userActions {
  position: absolute;
  bottom: -80px;
  left: -20px;
  color: var(--dark-blue);
  z-index: 20;
  background-color: var(--white);
  padding: 10px;
  box-shadow: var(--box-shadow-card);
  border-radius: 5px;
  /* transition: all ease-in 2s; */
}

.userActions a {
  padding: 5px;
  text-transform: capitalize;
  display: block;
  font-size: 16px;
}

.userActions a:hover {
  background-color: var(--grey);
}
